body {
  font: 400 15px/1.8 Lato, sans-serif;
  /* color: #e5c7b7; */
  background-color: #fafbfc;
}
h2 {
  font-size: 20px;
  margin-top: 0%;
}
h3,
h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #3A4636;
}

.container {
  padding: 0% 120px;
  height: 500px;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}

.person:hover {
  border-color: #f1f1f1;
}

/* .carousel-inner {
  margin-top: 2%;
} */
.carousel-inner img {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  /* make all photos black and white */
  width: 100%;
  /* Set width to 100% */
  margin: auto;
  /* opacity: 90%; */
}

.carousel-caption h3 {
  color: #fff !important;
}
.carousel-search {
  /* border: 1px solid red; */
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 15;
  left: 50%;
  margin-left: -25%;
  top: 15%;
}
.carousel .thema {
    margin-left: 27%;
    margin-bottom: 2%;
}
.carousel .themaBtn {
    display: inline-block;
    margin: 1% 4%;
}

.carousel .themaBtn a {
    font-size: 1.5vw;
    color: white;
    text-decoration-line: none;
}

.carousel-search form #search-res ul {
  /* border: 1px solid black; */
  width: 87.4%;
  padding-left: 0;
  background-color: white;
  opacity: 80%;
}

.carousel-search form #search-res li {
  padding: 0 5%;
}

.carousel-search form #search-res li:hover {
  padding: 0 5%;
  background-color: #F2D49B;
}

@media (max-width: 700px) {
  .carousel-caption {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
  .carousel-search {
    /* border: 1px solid black; */
    background-color: #e5c7b7;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10%;
    z-index: 15;
    left: 25%;
    margin-left: -25%;
    /* top: 15%; */
  }
}

.carousel-search p {
    margin: 0 0 35%;
}

.carousel-search h1 {
  border: 9px double white;
  font-size: 7vw;
  margin: 0;
  text-align: center;
  color: white;
}

.carousel-search .form-control {
  height: 42px;
}

.bg-1 {
  background:#D39F88;
  color: #2D2A27;
}

.bg-1 h3 {
  color:#000;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  opacity: 70%;
  background-color: #F2E9D8;
}

.thumbnail:hover {
  opacity: 100%;
}

.thumbnail p {
  margin-top: 15px;
  color: #8C504A;
}

.thumbnail .contentTxt {
  font-size: 0.8vw;
}

.thumbnail img {
  z-index: 9999;
  opacity: 100%;
  height: 200px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #333;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.btn:hover,
.btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.modal-header,
h4,
.close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header,
.modal-body {
  padding: 40px 50px;
}

.nav-tabs li a {
  color: #777;
  background: #EEEDEC;
  border: 1px solid #ddd;
  border-bottom: none;
}

#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 60%;
}

.navbar li a,
.navbar .navbar-brand {
  color: #a99482 !important;
  font-size: 14px;
}

.navbar-nav li a:hover {
  color: #a99482 !important;
}

.navbar-nav li.active a {
  color: #555 !important;
  background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
  font-size: 17px;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color:#29292c !important;
}

.login {
  background-color: white;
}

.tab-content {
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  background-color: white;
  height: 300px;
  padding: 10px 30px 10px 30px;
  opacity: 80%;
}

.tab-content p {
  color: #777;
  text-align: left;
}

.nav-tabs>li {
  margin-bottom: -3px;
}
.nav-tabs>li.active>a {
  z-index: 9999;
}
.nav-tabs>li>a {
  margin-right: -10px;
}

footer {
  padding-top: 60px;
  background-color: #fafbfc;
  color: #000;
  position: absolute;
  width: 100%;
  padding: 10px;
  z-index: 9999;
  border-top: 1px solid #dedede;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}

.col-md-4 p {
    font-size: 1.3vh;
}

footer #contact {
  margin-top: 10px;
  height: 321px;
  
}
.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
  src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
      url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
      url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
      url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 45px 0 45px 35px;
  max-width: 1000px;
  height: 510px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /* min-width: 320px; */
  min-height: 240px;
  max-width: 480px;
  max-height: 360px;
  width: 30%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 240px;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-milo {
  background: #2e5d5a;
}

figure.effect-milo img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-milo:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

figure.effect-milo h2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em;
}

figure.effect-milo p {
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}