<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cambak21.mappers.ChattingMapper">
	<insert id="fromUser">
		insert into Chattings (member_id, chatting_content)
		values (#{member_id}, #{chatting_content});
	</insert>
	
	<select id="getChattingList" resultType="com.cambak21.domain.ChattingListVO">
		select * from Chattings group by member_id;
	</select>
</mapper>