<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cambak21.mapper.BoardProdReviewMapper">
  
  	<select id="listProdBoard" resultType="com.cambak21.domain.ProdReviewVO">
  		select * from goot6.ProdReviews where product_id = #{product_id} order by prodReview_no desc
  	</select>
	
	<insert id="insertProdBoard">
		insert into goot6.ProdReviews(product_id, member_id, prodReview_title, prodReview_content, prodReview_grade, prodReview_img, buyProduct_no) values(#{product_id}, #{member_id}, #{prodReview_title}, #{prodReview_content}, #{prodReview_grade}, #{prodReview_img}, #{buyProduct_no})
	</insert>
	
	<select id="listProdBoardCriteria" resultType="com.cambak21.domain.ProdReviewVO">
		select * from goot6.ProdReviews where product_id = #{product_id} order by prodReview_no desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 전체 게시물 수 가져오기 -->
	<select id="getTotalBoardCnt" resultType="int">
		select count(*) from goot6.ProdReviews
	</select>
	
 </mapper>