<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cambak21.mappers.cambakAdmin.adminMapper">
  <!-- ***************************************** 도연 ********************************************************************************* -->
	<select id="getMember" resultType="com.cambak21.domain.MemberVO">
		select * from Members where member_isDelete = 'N' order by member_registerDate limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="getTotMemberCnt" resultType="int">
		select count(*) from Members where member_isDelete = 'N'
	</select>
	
	<update id="deleteMember">
		update Members set member_isDelete = 'Y' where member_id = #{member_id}
	</update>	
	
	<update id="updateMember">
		update Members set member_name = #{member_name}, member_totPoint = #{member_totPoint} where member_id = #{member_id}
	</update>
	
	
	
	
	
	
	
	
	
	
	
  <!-- ***************************************** 도연 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 대기 ********************************************************************************* -->
	<select id="getDayRevenue" resultType="com.cambak21.domain.RevenueVO">
     select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
   where buyProduct_isFinished = 'y' and payment_date = date_format(now(),'%Y-%m-%d') group by date_format(p.payment_date,'%Y-%m-%d')
  </select>
  
  <select id="getPerDayRevenue" resultType="com.cambak21.domain.RevenueVO">
    select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
   where buyProduct_isFinished = 'y' and now() > payment_date and payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -#{dateVal} DAY)) group by date_format(p.payment_date,'%Y-%m-%d')
  </select>
  
  <select id="betweenDayRevenue" resultType="com.cambak21.domain.RevenueVO">
     select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
   where buyProduct_isFinished = 'y' and payment_date between #{startDate} and #{endDate} group by date_format(p.payment_date,'%Y-%m-%d');

  </select>
  <select id="selectMonthly" resultType="com.cambak21.domain.RevenueMonthVO">
     select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -${revenueMonthly} MONTH)) group by date_format(p.payment_date,'%Y-%m')
  </select>
  <select id="selectWeekly" resultType="com.cambak21.domain.RevenueWeeklyVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, DATE_FORMAT(p.payment_date, '%Y-%u') as payment_week from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -${revenuWeekly} WEEK)) group by payment_week;
  
  </select>
  <select id="thisMonthRevenue" resultType="com.cambak21.domain.RevRefundVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m') as payment_date from 
BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -0 MONTH)) group by date_format(p.payment_date,'%Y-%m');
  </select>
  <select id="prevMonthRevenue" resultType="com.cambak21.domain.RevRefundVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m') as payment_date from 
BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -1 MONTH)) group by date_format(p.payment_date,'%Y-%m');
  </select>
  <select id="thisMonthRefund" resultType="com.cambak21.domain.RevRefundVO">
  SELECT date_format(payment_date,'%Y-%m') as payment_date, sum(buy.buyProduct_totPrice) as buyProduct_totPrice FROM goot6.Payments pay 
join goot6.BuyProducts buy on pay.buyProduct_no = buy.buyProduct_no
where payment_isComit='환불' and now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -0 MONTH)) group by payment_isComit;
  </select>
  <select id="prevMonthRefund" resultType="com.cambak21.domain.RevRefundVO">
  SELECT date_format(payment_date,'%Y-%m') as payment_date, sum(buy.buyProduct_totPrice) as buyProduct_totPrice FROM goot6.Payments pay 
join goot6.BuyProducts buy on pay.buyProduct_no = buy.buyProduct_no
where payment_isComit='환불' and now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -1 MONTH)) group by payment_isComit;
  </select>
  
  <select id="thisWeekRevenue" resultType="com.cambak21.domain.RevRefundVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, 
DATE_FORMAT(p.payment_date, '%Y-%u') as payment_date from BuyProducts b join Payments p 
on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -0 WEEK)) group by DATE_FORMAT(p.payment_date, '%Y-%u');
  </select>
  <select id="prevWeekRevenue" resultType="com.cambak21.domain.RevRefundVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, 
DATE_FORMAT(p.payment_date, '%Y-%u') as payment_date from BuyProducts b join Payments p 
on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -1 WEEK)) group by DATE_FORMAT(p.payment_date, '%Y-%u');
  </select>
  <select id="thisWeekRefund" resultType="com.cambak21.domain.RevRefundVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, 
DATE_FORMAT(p.payment_date, '%Y-%u') as payment_date from BuyProducts b join Payments p 
on b.buyProduct_no = p.buyProduct_no 
where payment_isComit='환불' and  now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -0 WEEK)) group by DATE_FORMAT(p.payment_date, '%Y-%u');
  </select>
  <select id="prevWeekRefund" resultType="com.cambak21.domain.RevRefundVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, 
DATE_FORMAT(p.payment_date, '%Y-%u') as payment_date from BuyProducts b join Payments p 
on b.buyProduct_no = p.buyProduct_no 
where payment_isComit='환불' and  now() > payment_date and 
payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -1 WEEK)) group by DATE_FORMAT(p.payment_date, '%Y-%u');
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 대기 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 승권 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 승권 끝 ********************************************************************************* -->
   
  <!-- ***************************************** 원영 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 원영 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 정민 ********************************************************************************* -->
  	<!-- 게시물 페이징 리스트 -->
  	<select id="prodList" resultType="com.cambak21.domain.ProductsVO">
  		select * from Products order by product_id desc limit #{pageStart}, #{perPageNum}
  	</select>
  	<!-- 총 게시물 개수 가져오기 -->
  	<select id="getTotalProdListCnt" resultType="int">
  		select count(*) from Products;
  	</select>
  
  	<!-- 검색된 게시글 총 개수 가져오기 -->
  	<select id="getTotalSearchProdListCnt" resultType="int">
  		select count(*) from Products where
  		<if test="searchType == 'product_name'">
  			product_name like concat('%', #{searchWord}, '%')
  		</if>
  		<if test="searchType == 'product_factory'">
  			product_factory like concat('%', #{searchWord}, '%')
  		</if>
  		
  	<!-- ********************전체 셀렉트 + 검색어 입력이 있는 경우****************************** -->
	<!-- 전체 셀렉트 + 검색어 입력이 있는 경우 -->
	  	<if test="searchType == 'searchAll'">
	  			product_factory like concat('%', #{searchWord}, '%') or product_name like concat('%', #{searchWord}, '%')
  		</if>
  		
  		<!-- 메인 카테고리 아이디값이 있는 경우,
  		<if test="mainCategory_id != null">
  			and mainCategory_id = #{mainCategory_id}
  		</if>  -->
  		
  		<!-- 미들 카테고리 아이디값이 있는 경우, 
  		<if test="middleCategory_id != null">
  			and middleCategory_id = #{middleCategory_id}
  		</if> -->
  		
  		<!-- product_show 전시 여부
  		<if test='product_show == "Y"'>
  			and product_show in('Y')
  		</if>
  		<if test='product_show == "N"'>
  			and product_show in('N')
  		</if>
  		<if test='product_show == "all"'>
  			and product_show in('Y','N')
  		</if> -->
  		
  	</select>
  
  	<!-- **********************검색된 게시글 리스트 출력, 동적 SQL 사용 부분(검색어)************************* -->
  	<select id="goSearchProdList" resultType="com.cambak21.domain.ProductsVO">
  		select * from Products where
  		<if test="searchType == 'product_name'">
  			product_name like concat('%', #{searchWord}, '%')
  		</if>
  		<if test="searchType == 'product_factory'">
  			product_factory like concat('%', #{searchWord}, '%')
  		</if>
  		
  		<!-- 전체 셀렉트 + 검색어 입력이 있는 경우 -->
	  	<if test="searchType == 'searchAll'">
	  			product_factory like concat('%', #{searchWord}, '%') or product_name like concat('%', #{searchWord}, '%')
  		</if>

  		<!-- 메인 카테고리 아이디값이 있는 경우,  -->
  		<if test="mainCategory_id != null">
  			and mainCategory_id = #{mainCategory_id}
  		</if>
  		
  		<!-- 미들 카테고리 아이디값이 있는 경우,   -->
  		<if test="middleCategory_id != null">
  			and middleCategory_id = #{middleCategory_id}
  		</if>
  		
  		<!-- product_show 전시 여부
  		<if test='product_show == "Y"'>
  			and product_show in('Y')
  		</if>
  		<if test='product_show == "N"'>
  			and product_show in('N')
  		</if>
  		<if test='product_show == "all"'>
  			and product_show in('Y','N')
  		</if>-->
  		
  		
  		order by product_id desc limit #{pageStart}, #{perPageNum}
  	</select>
  
  	<!-- ajax 이용 메인 카테고리 리스트 출력 -->
  	<select id="getMainCategories" resultType="com.cambak21.domain.MainCategoryVO">
  		select * from MainCategories;
  	</select>
  
  	<select id="getMiddleCategories" resultType="com.cambak21.domain.MiddleCategoryVO">
  		select * from MiddleCategories where mainCategory_id=#{mainCategory_id}
  	</select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 정민 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 종진 ********************************************************************************* -->
  
  
  	<select id="goGetBoard_admin" resultType="com.cambak21.domain.BoardVO">
  		select * from Boards where
	  		<if test="board_category != 'all'">
	  			board_category = #{board_category} and 
	  		</if>
  		date_format(board_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate} order by board_no desc limit #{pageStart}, #{perPageNum}
  	</select>
  	
  	<select id="goGetreply_admin" resultType="com.cambak21.dto.AdminReplyBoardDTO">
  		select b.board_no, b.member_id as Bmember_id, b.board_title, b.board_category, b.board_writeDate, b.board_updateDate, b.board_likeCnt, b.board_viewCnt, b.board_isDelete, b.board_replyCnt, r.replyBoard_no, r.member_id as Rmember_id, r.replyBoard_content, r.replyBoard_writeDate, r.replyBoard_updateDate, r.replyBoard_isdelete from ReplyBoards r, Boards b where r.board_no = b.board_no and 
	  		<if test="board_category != 'all'">
	  			 b.board_category = #{board_category} and 
	  		</if>
  		date_format(replyBoard_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate} order by replyBoard_no desc limit #{pageStart}, #{perPageNum}
  	</select>
  
  
  
  
  	<select id="searchGetBoard_admin" resultType="com.cambak21.domain.BoardVO">
  		select * from Boards where
  		
	  		<if test="board_category == 'all' and searchboardType == 'title'">
	  			board_category = any (select board_category from Boards) and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'all' and searchboardType == 'content'">
	  			board_category = any (select board_category from Boards) and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'all' and searchboardType == 'member_id'">
	  			board_category = any (select board_category from Boards) and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'Tip' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'Tip' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'Tip' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'QA' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'QA' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'QA' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'humor' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'humor' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'humor' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'notice' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'notice' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'notice' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'CS' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'CS' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'CS' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
  		(date_format(board_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate}) order by board_no desc limit #{pageStart}, #{perPageNum}
  	</select>
  	
  	
  	<select id="searchGetreply_admin" resultType="com.cambak21.dto.AdminReplyBoardDTO">
  		select b.board_no, b.member_id as Bmember_id, b.board_title, b.board_category, b.board_writeDate, b.board_updateDate, b.board_likeCnt, b.board_viewCnt, b.board_isDelete, b.board_replyCnt, r.replyBoard_no, r.member_id as Rmember_id, r.replyBoard_content, r.replyBoard_writeDate, r.replyBoard_updateDate, r.replyBoard_isdelete from ReplyBoards r, Boards b where
  		
  			<if test="board_category == 'all' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = any (select board_category from Boards) and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'all' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = any (select board_category from Boards) and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'all' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = any (select board_category from Boards) and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'Tip' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'Tip' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'Tip' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'QA' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'QA' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'QA' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'humor' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'humor' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'humor' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'notice' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'notice' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'notice' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'CS' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'CS' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'CS' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
		(date_format(replyBoard_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate}) order by r.replyBoard_no desc limit #{pageStart}, #{perPageNum}
  		</select>
  
  
  	<select id="getTodayTotCnt" resultType="int">
  		select count(*) from Boards where date_format(board_writeDate, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
  	</select>
  
  	<select id="getTodayreplyTotCnt" resultType="int">
  		select count(*) from ReplyBoards where date_format(replyBoard_writeDate, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
  	</select>
  
  
   <select id="getBoard_adminCnt" resultType="int">
  		select count(*) from Boards where
	  		<if test="board_category != 'all'">
	  			board_category = #{board_category} and 
	  		</if>
  		date_format(board_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate}
  	</select>
  	
  	<select id="getReply_adminCnt" resultType="int">
  		select count(*) from ReplyBoards r, Boards b where r.board_no = b.board_no and 
	  		<if test="board_category != 'all'">
	  			 b.board_category = #{board_category} and 
	  		</if>
  		date_format(replyBoard_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate}
  	</select>
  
  
  
  
  	<select id="getsearchBoard_adminCnt" resultType="int">
  		select count(*) from Boards where
  		
	  		<if test="board_category == 'all' and searchboardType == 'title'">
	  			board_category = any (select board_category from Boards) and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'all' and searchboardType == 'content'">
	  			board_category = any (select board_category from Boards) and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'all' and searchboardType == 'member_id'">
	  			board_category = any (select board_category from Boards) and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'Tip' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'Tip' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'Tip' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'QA' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'QA' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'QA' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'humor' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'humor' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'humor' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'notice' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'notice' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'notice' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'CS' and searchboardType == 'title'">
	  			board_category = #{board_category} and board_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'CS' and searchboardType == 'content'">
	  			board_category = #{board_category} and board_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
	  		<if test="board_category == 'CS' and searchboardType == 'member_id'">
	  			board_category = #{board_category} and member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
  		(date_format(board_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate})
  	</select>
  	
  	
  	<select id="getsearchReply_adminCnt" resultType="int">
  		select count(*) from ReplyBoards r, Boards b where
  		
  			<if test="board_category == 'all' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = any (select board_category from Boards) and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'all' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = any (select board_category from Boards) and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'all' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = any (select board_category from Boards) and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'Tip' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'Tip' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'Tip' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'QA' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'QA' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'QA' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'humor' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'humor' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'humor' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'notice' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'notice' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'notice' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>

			<if test="board_category == 'CS' and searchboardType == 'title'">
	  			 r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_title like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'CS' and searchboardType == 'content'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.replyBoard_content like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		<if test="board_category == 'CS' and searchboardType == 'member_id'">
	  			r.board_no = b.board_no and b.board_category = #{board_category} and r.member_id like concat('%', #{searchTxtValue}, '%') and
	  		</if>
	  		
		(date_format(replyBoard_writeDate, '%Y-%m-%d') between #{goStartDate} and #{goEndDate})
  		</select>
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 종진 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 효원 ********************************************************************************* -->
  
  <select id="readOrderList" resultType="com.cambak21.domain.AdminOrderListVO">
	select distinct payment_no, payment_date, product_name, member_id, member_name, destination_toUser, destination_mobile,
	point_usedPoint, buyProduct_totPrice, delivery_status, payInfo_way, payment_isComit
	from (select payment.payment_no, payment.payment_date, buyProduct.product_name, payment.member_id, member.member_name, destination.destination_toUser,
	destination.destination_mobile, poin.point_usedPoint, buyProduct.buyProduct_totPrice, deliverie.delivery_status, payInfo.payInfo_way, payment.payment_isComit
	from Payments payment
	left join  BuyProducts buyProduct on payment.buyProduct_no = buyProduct.buyProduct_no
	left join Destinations destination on destination.destination_no = payment.destination_no
	left join Products product on buyProduct.product_name = product.product_name
	left join PayInfos payInfo on payInfo.payInfo_no = payment.payInfo_no
	left join Deliveries deliverie on payment.payment_serialNo = deliverie.payment_serialNo
	left join Points poin on poin.buyProduct_no = payment.buyProduct_no
	left join Members member on member.member_id = payment.member_id
	group by payment.payment_serialNo limit #{pageStart}, #{perPageNum}) as list
  </select>
  
  
  <select id="readOrderListNum" resultType="int">
	select count(*) 
	from (select distinct payment_no, payment_date, product_name, member_id, member_name, destination_toUser, destination_mobile,
	point_usedPoint, buyProduct_totPrice, delivery_status, payInfo_way, payment_isComit
	from (select payment.payment_no, payment.payment_date, buyProduct.product_name, payment.member_id, member.member_name, destination.destination_toUser,
	destination.destination_mobile, poin.point_usedPoint, buyProduct.buyProduct_totPrice, deliverie.delivery_status, payInfo.payInfo_way, payment.payment_isComit
	from Payments payment
	left join  BuyProducts buyProduct on payment.buyProduct_no = buyProduct.buyProduct_no
	left join Destinations destination on destination.destination_no = payment.destination_no
	left join Products product on buyProduct.product_name = product.product_name
	left join PayInfos payInfo on payInfo.payInfo_no = payment.payInfo_no
	left join Deliveries deliverie on payment.payment_serialNo = deliverie.payment_serialNo
	left join Points poin on poin.buyProduct_no = payment.buyProduct_no
	left join Members member on member.member_id = payment.member_id
	group by payment.payment_serialNo) as list) as num
  </select>
  
  
  <select id="orderProductNum" resultType="int">
	select count(*)
	from (select payment.payment_no, payment.payment_date, buyProduct.product_name, payment.member_id, member.member_name, destination.destination_toUser,
	destination.destination_mobile, poin.point_usedPoint, buyProduct.buyProduct_totPrice, deliverie.delivery_status, payInfo.payInfo_way, payment.payment_isComit
	from Payments payment
	left join  BuyProducts buyProduct on payment.buyProduct_no = buyProduct.buyProduct_no
	left join Destinations destination on destination.destination_no = payment.destination_no
	left join Products product on buyProduct.product_name = product.product_name
	left join PayInfos payInfo on payInfo.payInfo_no = payment.payInfo_no
	left join Deliveries deliverie on payment.payment_serialNo = deliverie.payment_serialNo
	left join Points poin on poin.buyProduct_no = payment.buyProduct_no
	left join Members member on member.member_id = payment.member_id
	group by payment.payment_serialNo limit 0, 10) as list where payment_no = #{payment_no}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 효원 끝 ********************************************************************************* -->

  </mapper>