<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cambak21.mappers.cambakAdmin.adminMapper">
  <!-- ***************************************** 도연 ********************************************************************************* -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  <!-- ***************************************** 도연 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 대기 ********************************************************************************* -->
  <select id="getDayRevenue" resultType="com.cambak21.domain.RevenueVO">
  	select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
	where buyProduct_isFinished = 'y' and payment_date = date_format(now(),'%Y-%m-%d') group by date_format(p.payment_date,'%Y-%m-%d')
  </select>
  
  <select id="getPerDayRevenue" resultType="com.cambak21.domain.RevenueVO">
 	select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
	where buyProduct_isFinished = 'y' and now() > payment_date and payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -#{dateVal} DAY)) group by date_format(p.payment_date,'%Y-%m-%d')
  </select>
  
  <select id="betweenDayRevenue" resultType="com.cambak21.domain.RevenueVO">
  	select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
	where buyProduct_isFinished = 'y' and payment_date between #{startDate} and #{endDate} group by date_format(p.payment_date,'%Y-%m-%d');

  </select>
  <select id="selectMonthly" resultType="com.cambak21.domain.RevenueMonthVO">
  	select sum(buyProduct_totPrice) as buyProduct_totPrice, date_format(p.payment_date,'%Y-%m-%d') as payment_date from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -${revenueMonthly} MONTH)) group by date_format(p.payment_date,'%Y-%m')
  </select>
  <select id="selectWeekly" resultType="com.cambak21.domain.RevenueWeeklyVO">
  select sum(buyProduct_totPrice) as buyProduct_totPrice, DATE_FORMAT(p.payment_date, '%Y-%u') as payment_week from BuyProducts b join Payments p on b.buyProduct_no = p.buyProduct_no 
where buyProduct_isFinished = 'y' and  now() > payment_date and payment_date > (SELECT DATE_ADD(NOW(), INTERVAL -${revenuWeekly} WEEK)) group by payment_week;
  
  </select>
  <select id="thisMonthRevenue" resultType="com.cambak21.domain.RevRefundVO">
  </select>
  <select id="prevMonthRevenue" resultType="com.cambak21.domain.RevRefundVO">
  </select>
  <select id="thisMonthRefund" resultType="com.cambak21.domain.RevRefundVO">
  </select>
  <select id="prevMonthRefund" resultType="com.cambak21.domain.RevRefundVO">
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 대기 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 승권 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 승권 끝 ********************************************************************************* -->
   
  <!-- ***************************************** 원영 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 원영 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 정민 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 정민 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 종진 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 종진 끝 ********************************************************************************* -->
  
  <!-- ***************************************** 효원 ********************************************************************************* -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ***************************************** 효원 끝 ********************************************************************************* -->

  </mapper>