<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mappers.cambakMain.MyMallMapper">

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 대기 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	<select id="getTotalRefund" resultType="int">
		select count(*) from
		goot6.RefundnExchanges where member_id = #{member_id}
	</select>

	<select id="getRefundList"
		resultType="com.cambak21.domain.RefundVO">
		select pay.payment_serialNo, payment_date,
		refundnExchange_date,
		refundnExchange_reason, refundnExchange_status,
		refundnExchange_isChecked, product_name, buyProduct_totPrice
		from
		goot6.RefundnExchanges ref join goot6.Payments pay on
		ref.payment_serialNo = pay.payment_serialNo
		join goot6.BuyProducts pro
		on pay.buyProduct_no = pro.buyProduct_no
		where ref.member_id =
		#{member_id}
	</select>
	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 원영 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 정민 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	<select id="getPointList"
		resultType="com.cambak21.domain.PointVO">
		select * from Points where member_id=#{member_id}
	</select>
	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 승권 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	<select id="getListProdQa"
		resultType="com.cambak21.domain.MyQAVO">
		select pqa.prodQA_no, p.product_id, p.product_name,
		pqa.prodQA_content, pqa.prodQA_date, pqa.prodQA_completed
		from Products p
		inner join ProdQAs pqa
		on pqa.product_id = p.product_id
		where pqa.member_id = #{member_id}
		order by pqa.prodQA_date desc
		limit
		0, 10;
	</select>

	<select id="prodQaCnt" resultType="int">
		select count(*) from ProdQAs
		where member_id = #{member_id};
	</select>

	<!-- 답변 가져오기 -->
	<select id="getAnswer" resultType="com.cambak21.domain.ProdQAVO">
		select * from ProdQAs where
		prodQA_ref = #{prodQA_no} and prodQA_refOrder = 2;
	</select>

	<!-- 장바구니 리스트 가져오기 -->
	<select id="getCartList"
		resultType="com.cambak21.domain.MyBucketListVO">
		select p.product_id, p.product_name, p.product_img1,
		bk.bucket_sellPrice, bk.bucket_buyQty, bk.bucket_totBuyPrice,
		bk.bucket_isChecked
		from Buckets bk
		inner join Products p
		on bk.product_id = p.product_id
		where bk.member_id =
		#{member_id}
		LIMIT 0, 10;
	</select>

	<!-- 장바구니 수량 변경 -->
	<update id="changeQty">
		update Buckets set bucket_buyQty = #{qty},
		bucket_totBuyPrice = #{qty} * bucket_sellPrice
		where member_id =
		#{member_id}
		and product_id = #{product_id};
	</update>

	<!-- 장바구니 아이템 삭제 -->
	<delete id="deleteItem">
		delete from Buckets where member_id = #{member_id}
		and product_id = #{product_id};
	</delete>

	<!-- 주문하기 버튼 클릭시 실행 될 쿼리문들 -->
	<update id="checkOnOff">
		update Buckets set bucket_isChecked = if(bucket_isChecked = 'Y', 'N', 'Y') where member_id = #{member_id} and product_id = #{product_id};
	</update>

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 태훈 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

</mapper>