/* 캠박몰 헤더 로그인 검색 - 서효원 */
.searchForm {
    display: none;
    top: 48px;
    right: 0;
    border: 0;
    border-bottom: 2px solid #f32952;
    background: #ffffff;
    z-index: 110;
}

.searhcInput {
	background: none;
	border: none 0;
	vertical-align: top;
	font-size: 15px;
}

.searchIconBtn {
	height: 18px;
}

.modal-header, .modalTitle, .close {
  background-color: #b3bcc5;
  color:white !important;
  text-align: center;
  font-size: 25px;
}
.modal-footer {
  background-color: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* 캠박몰 헤더 로그인 검색 - 서효원 */